@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono&display=swap');

a{
    text-align: center;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #C6ECAE;
    text-decoration: none;
    padding: 35px;
}

footer a{
    color: #94C9A9;
    text-decoration: none;
}

nav a:hover{
    background-color: #94C9A9;
    color: #495867;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#content{
    max-width: 1600px;
}

#background{
    height: auto;
    background-color: #94C9A9;
    grid-column: 1/11;
    grid-row: 4/9;
}

.home-title{
    color: #94C9A9;
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h4{
    color: #7D451B;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: -100px;
    z-index: -1;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h4 {
    color: white;
}


.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}


body{
    background-color: #C6ECAE;
    font-family: "Roboto Mono", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: #495867;
    display: grid;
    grid-template-columns: 150px auto;
}

.book, .join{
    background-color: #C6ECAE;
    color: #495867;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #94C9A9;
    color: #495867;
}

.rivers-card, .camping-card, .rapids-card {
      margin: 200px 0;
}

.card-img{
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg{
    background-color: #C6ECAE;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2{
    color: #495867;
}

.msg p{
    color: black;
    padding-bottom: 15px;
}

footer{
    background-color: #495867;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: black;
}

footer a:hover{
    color: #C6ECAE;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}










/* Media queries always need to be after all the other CSS. */

/* If the max width of the screen gets smaller than 900px, then 
use this CSS instead of what you may have seen above */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}