nav a{
    max-width: 1600px;
    text-align: center;
    color: #C6ECAE;
    text-decoration: none;
}


footer a{
    color: #94C9A9;
    text-decoration: none;
}

nav a:hover{
    background-color: #94C9A9;
    color: #495867;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
}

#content{
    max-width: 1600px;
}

#background{
    height: auto;
    background-color: #94C9A9;
}

.home-title{
    color: #495867;
}

h4{
    color: #7D451B;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}


.button-box{
    text-align: center;
}

main section{
    text-align: center;
}


body{
    background-color: #C6ECAE;
}

header{
    background-color: #495867;
    text-align: center;
}

.book, .join{
    background-color: #C6ECAE;
    color: #495867;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: #94C9A9;
    color: #495867;
}

.msg{
    background-color: #C6ECAE;
}

.msg h2{
    color: #495867;
}

.msg p{
    color: black;
}

footer{
    background-color: #495867;
}

footer h3{
    color: black;
}

footer a:hover{
    color: #C6ECAE;
    text-decoration: underline;
}