@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Mono&display=swap');

a{
    text-align: center;
    text-decoration: none;
}

nav a{
    text-align: center;
    color: #C6ECAE;
    text-decoration: none;
    padding: 35px;
}

footer a{
    color: #94C9A9;
    text-decoration: none;
}

nav a:hover{
    background-color: #94C9A9;
    color: #495867;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#content{
    max-width: 1600px;
}

#background{
    height: auto;
    background-color: #94C9A9;
}

.home-title{
    color: #495867;
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #7D451B;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}


.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}


body{
    background-color: #C6ECAE;
    font-family: "Roboto Mono", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: #495867;
    
}

.book, .join{
    background-color: #C6ECAE;
    color: #495867;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #94C9A9;
    color: #495867;
}

.rivers-card, .camping-card, .rapids-card {
      margin: 200px 0;
}

.card-img{
    border: 10px solid black;
}

.msg{
    background-color: #C6ECAE;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: #495867;
}

.msg p{
    color: black;
    padding-bottom: 15px;
}

footer{
    background-color: #495867;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: black;
}

footer a:hover{
    color: #C6ECAE;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}