h1 {
  text-align: center;
}

nav {
    background-color: steelblue;
    text-align: center;
  }

a {
    color: white;
    margin: 40px;
  }

h1 {
    color: steelblue;
  }

img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 4px solid steelblue;
  }

main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

p {
    width: 80%;
  }

footer {
    background-color: steelblue;
    color: white;
    text-align: center;
  }

a {
  font-size: 1.5em;
}

/* borders every element 
*{
  border: 2px solid blue;
}  */

/* 03_class_and_selectors.html */
/* Classes are specified with a dot or period before the class name in CSS */
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Now our home page link has a different 
back-ground color and text color to show what page they are on */
#active {
  background-color: white;
  color: steelblue;
}
