body {
    text-align: center;
  }

nav {
    background-color: steelblue;
    padding: 10px;
  }

a {
    color: white;
    margin: 40px;
  }

h1 {
    color: steelblue;
  }

img {
    width: 800px;
    border: 4px solid steelblue;
  }

p {
    padding: 10px;
  }

footer {
    background-color: steelblue;
    color: white;
  }


/* 03_class_and_selectors.html */
/* Classes are specified with a dot or period before the class name in CSS */
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Now our home page link has a different 
back-ground color and text color to show what page they are on */
#active {
  background-color: white;
  color: steelblue;
}
