h1 {
  text-align: center;
<<<<<<< HEAD
  /* set top and bottom margin */
  margin: 50px 0;
=======
>>>>>>> 0cb166c76d29817c28c628e9d5afdfe2d6b5b480
}

nav {
    background-color: steelblue;
    text-align: center;
<<<<<<< HEAD
    padding: 25px;
=======
>>>>>>> 0cb166c76d29817c28c628e9d5afdfe2d6b5b480
  }

a {
    color: white;
    margin: 40px;
    padding: 25px;
  }

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    color: steelblue;
  }

body{
  margin: 0
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
<<<<<<< HEAD
    /* border around img */
=======
>>>>>>> 0cb166c76d29817c28c628e9d5afdfe2d6b5b480
    border: 4px solid steelblue;
  }

main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

p {
    width: 80%;
  }

footer {
    background-color: steelblue;
    color: white;
    text-align: center;
  }

footer p {
    font-size: 20px;
    margin: 20px auto;
<<<<<<< HEAD
    padding: 25px;
=======
>>>>>>> 0cb166c76d29817c28c628e9d5afdfe2d6b5b480
}

nav, footer {
    background-color: steelblue;
    color: white;
}

a {
  font-size: 1.5em;
}

/* borders every element 
*{
  border: 2px solid blue;
}  */

/* 03_class_and_selectors.html */
/* Classes are specified with a dot or period before the class name in CSS */
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Now our home page link has a different 
back-ground color and text color to show what page they are on */
#active {
  background-color: white;
  color: steelblue;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0cb166c76d29817c28c628e9d5afdfe2d6b5b480
